# Dependencies
node_modules/
.pnp/
.pnp.js

# Expo
.expo/
dist/
web-build/

# Native builds
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# Local env files
.env*.local
.env

# TypeScript
*.tsbuildinfo

# Testing
coverage/

# Android
android/app/build/
android/build/
android/.gradle/
*.apk
*.aab

# iOS
ios/Pods/
ios/build/

# Python virtual environment
bin/
lib/
lib64
include/
pyvenv.cfg
__pycache__/
*.py[cod]

# Build logs
build.log
